@charset "utf-8";

.tit_red { color: #c84040; font-size: 18px; border-bottom: 2px dashed #c84040; padding-bottom: 10px; }

#content {
    padding: 40px 0;
    background-color: #eee;
}

#content .inner{
    padding:20px;
}

.qna_list{
    list-style:none;
    margin : 20px 0 50px;
}

.qna_list li {   

}

.question {
    text-indent : 45px;
    color:#3e801a;
    font-weight: bold;
    
    padding: 15px 0;

    background-image: url(../images/q.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
}

.answer {
    text-indent : 45px;

    padding : 5px 0 5px;
    background-color: #ddd;
}
